* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
}

:root {
    --blackcolor:  black;
    --whiteColor: white;
    --bGHeader:rgb(48, 46, 46);
    --bGCont:rgb(61, 60, 60);
    --bGBtn:rgb(145, 142, 142);
    --bGLightMHeader: rgb(226, 221, 221) ;
    --bGLightMCont: rgb(247, 242, 242);
    --bGLightMAside: rgb(250, 250, 250);
    --bGrLightMInputRange:  rgb(68, 66, 66);
    
}

body {
    height: 100vh;
    position: relative;
}

/* Light Mode Styles */

.lightMode header {
    background-color: var(--bGLightMHeader);
    color: var(--blackcolor);
}

.lightMode .firstContainer{
    background-color: var(--bGLightMCont);
    color: var(--blackcolor);
}

.lightMode aside{
    background-color: var(--bGLightMAside);
    color: var(--blackcolor);
}

.lightMode input[type=range]::-webkit-slider-thumb {
    background-color: var(--bGrLightMInputRange);
}

/* Hidden Class for JS */
.topTextOculto .topText{
    display: none;
}

.bottomTextOculto .bottomText{
    display: none;
}

.alingTextLeft .topText {
    justify-content: left;
}

.alingTextLeft .bottomText {
    justify-content: left;
}

.alingTextRight .topText {
    justify-content: right;
}
.alingTextRight .bottomText {
    justify-content: right;
}

.alingTextCenter .topText .bottomText{
    justify-content: center;
    text-align: center;
}

.trasparentTxtBG .topText{
    background-color: transparent !important;
    position: absolute;
    width: 100%;
}
.trasparentTxtBG .bottomText{
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.trasparentTxtBG .container{
    position: relative;
}

.outlineDark .topText{
    -webkit-text-stroke: 2px black;
}
.outlineDark .bottomText{
    -webkit-text-stroke: 2px black;
}

.outlineWhite .topText{
    -webkit-text-stroke: 2px white;
}
.outlineWhite .bottomText{
    -webkit-text-stroke: 2px white;
}

.outlineNone .topText .bottomText{
    -webkit-text-stroke: none;
}


/* Main Section*/

header {
    width: 80%;
    height: 18%;
    text-align: center;
    background-color: var(--bGHeader);
    color: var(--whiteColor);
}

h1 {
    padding: 15px 0px;
}

.headerButtons .btnHeader {
    margin: 0px 8px;
    border-style: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--bGHeader);
    color: var(--whiteColor);
    cursor: pointer;
}
.btnHeader:hover{
    background-color: var(--bGBtn);
}

.firstContainer {
    height: 82%;
    width: 80%;
    background-color: var(--bGCont);
    color: var(--whiteColor);
        
}

.mainSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container .topText, .bottomText {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--whiteColor);
    font-size: 25px;
}

.imgContainer {
    height: 100%;
    width: 100%;
    background-size: 100% 100%; 
    background-color: var(--bGBtn);
}

img {
    height: 100%;
    width: 100%;
}

.downloadBtn {
    border-style: none;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--bGBtn);
    color: var(--whiteColor);
    margin-top: 8px;
    cursor: pointer;
}
.downloadBtn:hover{
    background-color: var(--bGHeader);
}

/* Aside General Features */
aside {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bGrLightMInputRange);
    color: var(--whiteColor);
    padding: 0px 20px;
    line-height: 1.3em;
    font-size: 14px;
}

#imgSection {
    height: 97.5vh;
}

#txtSection {
    display: none;
    height: 97.5vh;
}

input[type=text], [type=number]{
    border-style: none;
    height: 22px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--bGBtn);
    color: var(--whiteColor);
}

input[type=text]:hover, [type=number]:hover{
    background-color: var(--bGHeader)
}

input[type=range]{
    appearance: none;
    background-color: transparent;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track, 
input[type=range]::-webkit-slider-thumb{
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background:var(--bGLightMHeader);
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background:var(--bGBtn);
    border-radius: 5px;
}
  

h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

h3 {
    padding: 10px 0px;
}

select {
    background-color: var(--bGBtn);
    padding: 3px;
    border-radius: 3px;
    color: var(--whiteColor);
    text-transform: uppercase;
}

select:hover{
    background-color: var(--bGHeader);
}

/* Aside Image Panel */
.backgroundContainer {
    display: flex;
    justify-content: space-between;
}

.backgroundColorContainer {
    display: flex;
    background-color: var(--bGBtn);
    align-items: center;
    gap: 6px;
    padding: 3px;
    border-radius: 3px;
}

.backgroundColorContainer:hover{
    background-color: var(--bGHeader)
}

input[type=color] {
    -webkit-appearance: none;
    background-color: transparent;
    appearance: none;
    border: none;
    height: 20px;
    width: 20px;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.contResetBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

#resetBtn {
    padding: 5px 10px;
    background-color: var(--bGBtn);
    color: var(--whiteColor);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 18px;
}
#resetBtn:hover{
    background-color: var(--bGHeader)
}

/* Aside Text Panel */
textarea {
    background-color: var(--bGBtn);
    color: var(--whiteColor);
    border-radius: 3px;
}

textarea:hover{
    background-color: var(--bGHeader);
}

#selectFontFamily {
    width: 100%;
}

.contFontSize {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.contAlingText {
    width: 50%;
}
.contFontSize div{
    display: flex;
}
.alingTextBtn{
    background-color: var(--bGBtn);
    border-style: none;
    width: 25px;
    height: 22px;
    color: var(--whiteColor);
    margin: 0px 3px;
    border-radius: 3px;
}

.alingTextBtn:hover{
    background-color: var(--bGHeader);
}

.alingTextBtn i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contTextColorBackgr {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.contTextColor  {
    display: flex;
    background-color: var(--bGBtn);
    align-items: center;
    padding: 3px;
    border-radius: 3px;
    width: 110px;
}

.contTextColor:hover{
    background-color:var(--bGHeader);
}

.contOutlineBtns {
    display: flex;
    gap: 6px;
}

.contOutlineBtns button{
    padding: 5px 10px;
    background-color: var(--bGBtn);
    color: var(--whiteColor);
    border: none;
    border-radius: 3px;
}

.contOutlineBtns button:hover{
    background-color: var(--bGHeader);
}